.category-page {

  header.page-header {

    div {
      padding-bottom: 0;
      padding: 20px 30px;

      @include media(mobile) {
        padding: 15px;
      }

      h1 {
        @include bold-48;
        width: 75%;
        padding: 20px 0;

        @include media(mobile) {
          width: auto;
          padding: 0 0 15px;
        }
      }

      h2 {
        @include core-24;
        color: inherit;
        margin: 0;
      }
    }
  }

  .browse-container {
    background-color: #fff;
    min-height: 500px;
    padding: 0 30px 45px 30px;

    h2, h3 {
      @include bold-19;
      margin-bottom: 0;
    }

    @include media(mobile) {
      padding: 0 15px 30px 15px;
      min-height: auto;
    }

    @include ie-lte(8) {
      padding: 0 3.5% 30px;
    }

    .category-description {
      margin-bottom: 45px;
      width: 65.5%;

      @include media(mobile) {
        margin-bottom: 15px;
        width: auto;
      }

      p {
        @include core-24;
        margin: 0;
      }
    }

    .detailed-guidance {
      border: solid 4px #2B8CC4;
      padding: 15px;
      margin-top: 30px;

      h2 {
        padding: 0 (16/24 * 15px); // heading is 24, base is 16
      }

      li {
        float: left;
        width: 50%;

        @include media(mobile) {
          width: auto;
          float: none;
        }

        h3 {
          padding: 0 (16/19 * 15px); // this heading is 19, base is 16
        }

        p {
          padding: 0 15px;
        }

        &:nth-child(odd) {
          clear: left;
        }
      }

    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 30px;

        p {
          margin: 0;
          word-wrap: break-word;
        }
      }

      &.categories {
        padding: 15px 0 0 0;
        width: 100%;

        li {
          margin: 0 -30px;
          padding: 15px 30px;

          h2 {
            margin: 0;
          }

          h2, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }
        }
      }

      &.sub-categories {
        padding: 0;

        @include ie-lte(8) {
          margin: 0 -30px;
        }

        li {
          float: left;
          margin-right: 3.5%;
          margin-bottom: 30px;
          width: 31%;

          &:nth-child(3n) {
            margin-right: 0;
          }

          &:nth-child(3n+1) {
            clear: left;
          }

          @include media(mobile) {
            float: none;
            margin-right: 0;
            width: auto;
          }

          @include ie-lte(8) {
            float: none;
            margin-right: 0;
            margin-left: 3.5%;
            display: inline-block;
            vertical-align: top;
            width: 28.5%;
          }

          @include ie-lte(7) {
            display: inline;
            zoom: 1;
          }
        }
      }

      &.content-list {
        padding: 5px 0 0 0;
        width: 100%;

        li {
          margin: 0 -20px;
          padding: 5px 20px 10px;

          h3, p {
            width: 65.5%;

            @include media(mobile) {
              width: auto;
            }
          }
        }
      }
    }
  }
  
  // styles specific to subsection level of browse prototype

  .browse-subsection-proto {

    h1, h1 a {
      @include bold-24;
    }

    .links {
        @include media(desktop) {
          margin:-6px 0 0 0;
          width:50%;
          float:left;
        }

        a.button {
          @include button($grey-3);
          font-weight:600;
          margin-top:10px;
        }

        .destination {
          margin-left: 6px;
        }

        h2,
        ul.links-group li {

          @include bold-19;

          a {
            @include bold-24;
            text-decoration:none;

            &:hover {
              text-decoration:underline;
            }
          }

          span { 
            margin-left:10px;
            @include core-14;
            text-transform:uppercase;
            color:#222;
          }
        }

        p {
          a {
            @include bold-19;
            margin-bottom:0;
          }
        }

        ul.service {


          li {
            border-bottom: 1px $grey-2 solid;
            padding-bottom:20px;
            margin-bottom: 18px;

            p {
              @include core-16;
              margin:10px 0 0 0;

              a {
                @include core-16;                
              }
            }
          }
        }

        ul.guide {
          @include media(desktop) {
            display:inline-block;
            padding: 3px 0;
          }

          li {
            @include media(desktop) {
              float:left;
              margin-bottom:0;

              &:after {
                content: "|";
                margin-left: 7px;
                margin-right: 7px;
              }

              &:last-child:after {
                content: "";
              }

              a {
                text-decoration:none;
                color:#222;

                &:hover {
                  text-decoration:underline;
                }
              }

            }
          }  
        }
      }

    .selected-links {
      
      @include media(desktop) {
        display: inline-block;
        width: 100%;
        margin: 30px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px $grey-2 solid;
      }

      h1 {
        @include media(desktop) {
          max-width:170px;
          float:left;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration:underline;
          }
        }
      }

      .links {

        h2 {
          @include bold-19;
        }

        @include media(desktop) {
          margin:-6px 0 0 0;
          width:66.6666%;
          float:right;
        }

        ul.listed-links {

          margin-top:8px;

          li {
            @include bold-19;
            margin:0 0 10px 0;
            padding:0;

            a {
              text-decoration:none;

              &:hover {
                text-decoration:underline;
              }
            }

            span { 
              margin-left:10px;
              @include core-14;
              text-transform:uppercase;
              color:#222;
            }
          }
        }
      }
    }

    .separate {
      border-top: 5px $light-blue solid;
    }
  }




  // styles specific to section level of browse prototype

  .browse-section-proto {

    ul li {
      margin:0;
    }

    h1, h1 a {
      @include bold-24;
    }

    .section-links {
      @include media(desktop) {
        width: 100%;
        margin: 20px 0 0 0;
        display: inline-block;
      }

      

      li {
        @include media(desktop) {
          float:left;
        }

        &:first-child:after {
          content: "|";
          margin-left: 7px;
          margin-right: 7px;
        }

        a {
          font-weight:600;
        }
      }
    }

    .popular {
      
      @include media(desktop) {
        width:32%;
        position: absolute;
        top: 35px;
        right: 0;
      }

      ul {

        margin:20px 0;

        li {
          
          margin-bottom:5px;

          a {
            font-weight:600;
            text-decoration:none;

            &:hover {
              text-decoration:underline;
            }
          }
        }
      }
    }

    .selected-links,
    .alphabetical-links {
      
      @include media(desktop) {
        display: inline-block;
        width: 100%;
        margin: 25px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px $grey-2 solid;
      }

      h1 {
        @include media(desktop) {
          max-width:170px;
          float:left;
        }

        a {
          text-decoration: none;

          &:hover {
            text-decoration:underline;
          }
        }
      }

      .a-l,
      .m-z {
        @include media(desktop) {
          margin-top:10px;
          width:47%;
          float:left;
        }

        li {

          display:block;

          &:after {
            clear: both;
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
          }

          h2 {
            float: left;
            width: 10%;
            margin:0;
            padding:0;
          }

          ul {
            width: 90%;
            display:inline-block;
          }
        }
      }

      ul.m-z {
        @include media(desktop) {
          width:47%;
          margin-left:6%;
          float:left;
        }
      }

      .whitehall-links {
        @include media(desktop) {
          margin:-6px 0 0 0;
          width:75%;
          float:right;
        }

        p {
          @include bold-24;
          margin:8px 0 0 0;

          a {
            text-decoration:none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        ul.whitehall-categories {
          li {
            width:30%;
            margin:10px 5% 8px 0;
            float:left;
            display:block;

            p {
              a {
                @include core-16;
                margin-bottom:0;
                text-decoration: underline;
              }
            }

            &:last-child {
              margin-right:0;
            }

            ul li {
              width:100%;

              a {
                text-decoration:none;

                &:hover {
                  text-decoration:underline;
                }
              }
            }
          }
        }
      }

      .links {
        @include media(desktop) {
          margin:-6px 0 0 0;
          width:66.6666%;
          float:right;
        }

        a.button {
          @include button($grey-3);
          font-weight:600;
          margin-top:10px;
        }

        .destination {
          margin-left: 6px;
        }

        h2 {
          a {
            text-decoration:none;

            &:hover {
              text-decoration:underline;
            }
          }

          span { 
            margin-left:10px;
            @include core-14;
            text-transform:uppercase;
            color:#222;
          }
        }

        p {

          margin: 5px 0 0 0;
  
          a {
            @include bold-19;
            margin-bottom:0;
          }
        }

        ul.service {


          li {
            border-bottom: 1px $grey-2 solid;
            padding-bottom:20px;
            margin-bottom: 18px;

            p {
              @include core-16;
              margin:10px 0 0 0;

              a {
                @include core-16;                
              }
            }
          }
        }

        ul.guide {
          @include media(desktop) {
            display:inline-block;
            padding:10px 0;
            border-bottom: 1px $grey-2 solid;
          }

          li {
            @include media(desktop) {
              float:left;

              &:after {
                content: "|";
                margin-left: 7px;
                margin-right: 7px;
              }

              &:last-child:after {
                content: "";
              }

              a {
                text-decoration:none;
                color:#222;

                &:hover {
                  text-decoration:underline;
                }
              }
            }
          }  
        }
      }
    }

    .separate {
      border-top: 5px $light-blue solid;
    }
  }
}

// styles common to all prototypes (class tacked on main)

.browse-proto {
  h1 {
    max-width:420px;
  }
}