<% content_for :title do %><%= @page_title %><% end %>

  <h1>Renew a tax disc</h1>

  <ul>
    <li>
      <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals/attorney-general-guidance-to-the-legal-profession">Attorney General's guidance to the legal profession</a>
    </li>
  </ul>

  <header>
    Beta 
  </header>
  <p>This is a 'beta' service - find out <a href="TODO">what this means for you</a>
  </p>

  <h1>We need your vehicle details</h1>
  <p>To be eligible to apply online you will need:</p>
  <ul>
    <li>The 16 digit reference number from your tax disc renewal letter (V11)</li>
  </ul>
  <p><a href="TODO">Apply now</a></p>
  <details>
    <summary>I don't have the renewal letter, just the V5C (log book)</summary>
      <p>Hidden text</p>
  </details>

  <h1>You will need</h1>
  <p>Tax disc renewal letter (V11)</p>

  <h1>Apply on the DVLA website</h1>
  <h2>Before you start</h2>
  <p>To be eligible to apply online you will need:</p>
  <ul>
    <li>The 16 digit reference number from your tax disc renewal letter (V11)</li>
  </ul>
  <p><a href="TODO">Apply now</a></p>
  <details>
    <summary>I don't have the renewal letter, just the V5C (log book)</summary>
      <p>Hidden text</p>
  </details>

  <h1>Other ways to apply</h1>
  
  <h2>By Phone</h2>
  <ul>
    <li>Telephone: 0300 123 4321</li>
    <li>Textphone: 0300 123 4321</li>
  </ul>

  <ul>
    <li>Calls to 03 numbers cost approximately:</li>
    <li>2p to 10p from landlines</li>
    <li>10p to 40p from mobile phones</li>
    <li>
      <a href="https://www.gov.uk/call-charges">Find out more about call charges</a>
    </li>
  </ul>  

  <h2>At the Post Office</h2>

  <p>Take the following to any
   <a href="http://www.postoffice.co.uk/branch-finder">Post Office</a>
  </p>
  <ul>
    <li>completed V11 reminder</li>
    <li>insurance certificate or cover note</li>
    <li>MOT test certificate if required (must be valid when the tax disc starts)</li>
    <li>the payment shown on the reminder</li>
  </ul>

  <h1>Help with tax discs</h1>
  <ul>
    <li>
      <a href="#">Contact DVLA for questions about car tax</a>
    </li>
  </ul>

  <h1>Tax discs and car tax</h1>
  <ul>
    <li>
      <a href="#">Make a SORN (Statutory Off Road Notification</a>
    </li>
    <li>
      <a href="#">Calculate vehicle tax rates</a>
    </li>
    <li>
      <a href="#">Apply for a duplicate tax disc</a>
    </li>
    <li>
      <a href="#">Apply for an HGV vehicle licence (tax disc) - form V85</a>
    </li>
  </ul>








